* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(135, 206, 250, 0.25);
}

.header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.header-text-box {
    width: 350px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: white;
    background-color: rgba(227, 15, 15, 0.76);
    font-family: 'Handjet-Regular';
}

button {
    width: 150px;
    height: 50px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 15px;
    user-select: none;
    font-family: 'Tahoma';
    letter-spacing: 5px;
    font-weight: bold;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:before {
    content: '';
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.main {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'DIN Alternate';
    font-size: 30px;
}

.main-text-box {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(11, 143, 216, 0.94);
    color: #fcfcfd;
}

.input-show {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    padding: 10px;
    margin: 30px;
    border: none;
    outline: none;
    color: #efeded;
    text-align: center;
    font-size: 55px;
    font-family: Handjet-Regular;
}

.input-show-correct {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    color: #ffffff;
    text-align: center;
    background-color: #57cc4b;
    font-size: 55px;
    font-family: Handjet-Regular;
}

.input-show-false {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: rgba(227, 15, 15, 0.76);
    text-align: center;
    font-size: 55px;

    font-family: Handjet-Regular;
}

.footer {
    width: 100%;
    height: 50%;
    display: flex;
}

.footer-left-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.input-number {
    width: 220px;
    height: 70px;
    box-shadow: 0 0 10px black;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    font-size: 45px;
    text-align: center;
    color: #3b5cc5;
    font-family: Handjet-Regular;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.footer-right-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-info {
    margin-top: 20px;
    font-family: Tahoma;
}

/*Media Queries*/

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
    .header {
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .main-text-box {
        font-size: 20px;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 419px) {
    .main-text-box {
        font-size: 12px;
    }
}

/*Font Face*/

@font-face {
    font-family: Handjet-Regular;
    src: url('Assets/Fonts/Handjet-Regular.ttf');
}
